@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500&display=swap);
@import url(https://indestructibletype.com/fonts/Jost.css);

// * {
//     background-color: #f4f7fc;
// }

.header {
	margin-bottom: 3rem;
	position: relative;
}

.header-title {
	color: #fff;
	font-size: 1.64062rem;
}

.container-fluid {
	width: 95%;
	padding-left: 0;
}

.content {
	padding: 0 1.5rem;
	flex: 1;
	margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Jost, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: .5rem;
	margin-top: 0;
}

.breadcrumb {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 1rem;
	padding: 0;
}

.breadcrumb a {
	color: #dee2e6;
	font-size: .9375rem;
	font-weight: 400;
	font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
}

.card {
	box-shadow: 0 2px 4px rgb(126 142 177 / 12%);
	margin-bottom: 1.5rem;
	word-wrap: break-word;
	background-clip: border-box;
	background-color: #fff;
	border: 0 solid rgba(0, 0, 0, .125);
	border-radius: .2rem;
	display: flex;
	flex-direction: column;
	min-width: 0;
	position: relative;
}

.card-header {
	background: transparent;
	background-color: #fff;
	border-bottom: 0 solid rgba(0, 0, 0, .125);
	margin-bottom: 0;
	padding: .75rem 1.25rem;
}

.card-header:first-child {
	border-radius: .2rem .2rem 0 0;
}

.card-title {
	color: #3e4676;
	font-size: .9375rem;
	line-height: 1.5;
	margin-bottom: .5rem;
}

.card-body {
	padding-top: .75rem;
	flex: 1 1 auto;
	padding: 1.25rem;

}

.breadcrumb-item.active {
	color: #fff;
	font-weight: 500;
	font-size: .9375rem;
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: .5rem;
}

.card-link {
	text-decoration: none;
}

.card-img-top {
	height: auto;
}

.header-subtitle {
	color: #fff;
	font-size: .9375rem;
}

.avatar {
	height: 40px;
	width: 40px;
}

.bg-primary-dark {
	background-color: #2469ce !important;
}

.avatar-title {
	align-items: center;
	color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.rounded-circle {
	border-radius: 50% !important;
}

.feather {
	height: 16px;
	width: 16px;
}

.align-middle {
	vertical-align: middle !important;
}

.display-5 {
	font-weight: 300;
	line-height: 1.2;
	font-size: 2rem;
}

.jvm-zoom-btn.jvm-zoomin {
	top: 10px;
}

.jvm-zoom-btn.jvm-zoomout {
	top: 30px;
}

.jvm-zoom-btn {
	background-color: #292929;
	box-sizing: border-box;
	cursor: pointer;
	height: 15px;
	left: 10px;
	line-height: 10px;
	padding: 3px;
	width: 15px;
}

.jvm-tooltip,
.jvm-zoom-btn {
	border-radius: 3px;
	color: #fff;
	position: absolute;
}

.jvm-zoomin,
.jvm-zoomout,
image,
text {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}