@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500&display=swap);
@import url(https://indestructibletype.com/fonts/Jost.css);

// * {
//     background-color: #f4f7fc;
// }

.header {
	margin-bottom: 3rem;
	position: relative;
}

.header-title {
	color: #fff;
	font-size: 1.64062rem;
}

.container-fluid {
	width: 95%;
	padding: 0;

	@media screen and (max-width: 768px) {
		width: 98%;
	}
}

.content {
	padding: 0 1.5rem;
	flex: 1;
	margin-top: 2rem;

	@media screen and (max-width: 768px) {
		padding: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Jost, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: .5rem;
	margin-top: 0;
}

.breadcrumb {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 1rem;
	padding: 0;
}

.breadcrumb a {
	color: #dee2e6;
	font-size: .9375rem;
	font-weight: 400;
	font-family: "Hind Vadodara", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
}

.card {
	box-shadow: 0 2px 4px rgb(126 142 177 / 12%);
	margin-bottom: 1.5rem;
	word-wrap: break-word;
	background-clip: border-box;
	background-color: #fff;
	border: 0 solid rgba(0, 0, 0, .125);
	border-radius: .2rem;
	display: flex;
	flex-direction: column;
	min-width: 0;
	position: relative;
}

.card-header {
	background: transparent;
	background-color: #fff;
	border-bottom: 0 solid rgba(0, 0, 0, .125);
	margin-bottom: 0;
	padding: .75rem 1.25rem;
}

.card-header:first-child {
	border-radius: .2rem .2rem 0 0;
}

.card-title {
	color: #3e4676;
	font-size: .9375rem;
	line-height: 1.5;
	margin-bottom: .5rem;
}

.card-body {
	padding-top: .75rem;
	flex: 1 1 auto;
	padding: 1.25rem;

}

.breadcrumb-item.active {
	color: #fff;
	font-weight: 500;
	font-size: .9375rem;
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: .5rem;
}

.card-link {
	text-decoration: none;
}

.card-img-top {
	height: auto;
}