.dropdown-menu {
    gap: .25rem;
    padding: .5rem;
}

.dropdown-item {
    border-radius: .25rem;
}

.list-group-item {
    border-right: 0;
    border-left: 0;
}

.list-group-item h6 {
    font-size: 0.8rem;
}
