<nav id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <ul class="nav nav-pills flex-column mb-auto mt-5">
            <li>
                <a href="#" routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2" /></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" routerLink="/charts" routerLinkActive="active" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" /></svg>
                    Charts
                </a>
            </li>
            <li>
                <a href="#" routerLink="/signin" routerLinkActive="active" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid" /></svg>
                    Signin
                </a>
            </li>
            <li>
                <a href="#" routerLink="/carousel" routerLinkActive="active" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle" /></svg>
                    Carousel
                </a>
            </li>
            <li>
                <a href="#" routerLink="/blank-page" routerLinkActive="active" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle" /></svg>
                    Blank Page
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-footer">

    </div>
</nav>
