<nav id="sidebar" class="sidebar">
	<div class="sidebar-content">
		<div class="sidebar-user">
			<img src="https://media-exp1.licdn.com/dms/image/C5103AQHkX_RexlgqHg/profile-displayphoto-shrink_800_800/0/1573309044204?e=1639612800&v=beta&t=jZvJHyReZWAwlCfT99lXns5huy2Cn0wLepLkDiIpPD0"
				class="img-fluid rounded-circle mb-2" alt="Gauthaman Sahadevan">
			<div class="fw-bold">Gauthaman Sahadevan</div>
			<small>Full Stack Developer</small>
		</div>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="sidebar-header">Main</li>
			<li>
				<a href="#" routerLink="/dashboard" routerLinkActive="active" class="nav-link">
					Dashboard
				</a>
			</li>
			<li>
				<a href="#" routerLink="/charts" routerLinkActive="active" class="nav-link">
					Charts
				</a>
			</li>
			<li>
				<a href="#" routerLink="/signin" routerLinkActive="active" class="nav-link">
					Signin
				</a>
			</li>
			<li>
				<a href="#" routerLink="/carousel" routerLinkActive="active" class="nav-link">
					Carousel
				</a>
			</li>
			<li>
				<a href="#" routerLink="/blank-page" routerLinkActive="active" class="nav-link">
					Blank Page
				</a>
			</li>
		</ul>
	</div>
	<div class="sidebar-footer">

	</div>
</nav>