<main class="content">
	<div class="container-fluid">
		<div class="header">
			<h1 class="header-title">
				Blank Page
			</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
					<li class="breadcrumb-item"><a href="#">Blank</a></li>
					<li class="breadcrumb-item active" aria-current="page">Blank Page</li>
				</ol>
			</nav>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Empty card</h5>
					</div>
					<div class="card-body row">
						<div class="col-12 col-xxl-6">
							<div id="smartwizard-default-primary"
								class="wizard wizard-primary mb-4 sw sw-theme-default sw-justified">
								<ul class="nav">
									<li class="nav-item"><a class="nav-link inactive done"
											href="#default-primary-step-1">First Step<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive active"
											href="#default-primary-step-2">Second Step<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive"
											href="#default-primary-step-3">Third Step<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive"
											href="#default-primary-step-4">Fourth Step<br><small>Step
												description</small></a>
									</li>
								</ul>

								<div class="tab-content" style="height: 62.2222px;">
									<div id="default-primary-step-1" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 1
									</div>
									<div id="default-primary-step-2" class="tab-pane" role="tabpanel"
										style="display: block;">
										Step Content 2
									</div>
									<div id="default-primary-step-3" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 3
									</div>
									<div id="default-primary-step-4" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 4
									</div>
								</div>
								<div class="toolbar toolbar-bottom" role="toolbar" style="text-align: right;"><button
										class="btn sw-btn-prev" type="button">Previous</button><button
										class="btn sw-btn-next" type="button">Next</button></div>
							</div>
						</div>

						<div class="col-12 col-xxl-6">
							<div id="smartwizard-arrows-primary"
								class="wizard wizard-primary mb-4 sw sw-theme-arrows sw-justified">
								<ul class="nav">
									<li class="nav-item"><a class="nav-link inactive done"
											href="#arrows-primary-step-1">Step Title<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive done"
											href="#arrows-primary-step-2">Step Title<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive done"
											href="#arrows-primary-step-3">Step Title<br><small>Step
												description</small></a>
									</li>
									<li class="nav-item"><a class="nav-link inactive active"
											href="#arrows-primary-step-4">Step Title<br><small>Step
												description</small></a>
									</li>
								</ul>

								<div class="tab-content" style="height: 62.2222px;">
									<div id="arrows-primary-step-1" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 1
									</div>
									<div id="arrows-primary-step-2" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 2
									</div>
									<div id="arrows-primary-step-3" class="tab-pane" role="tabpanel"
										style="display: none;">
										Step Content 3
									</div>
									<div id="arrows-primary-step-4" class="tab-pane" role="tabpanel"
										style="display: block;">
										Step Content 4
									</div>
								</div>
								<div class="toolbar toolbar-bottom" role="toolbar" style="text-align: right;"><button
										class="btn sw-btn-prev" type="button">Previous</button><button
										class="btn sw-btn-next disabled" type="button">Next</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>